---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/SiteHeader.astro'
import Social from '../components/Social.astro';
import InstagramLogo from '../components/graphics/Instagram.logo.astro'
---

<Layout title="Kathrin Ayer's creative work">
	<main>
		<SiteHeader />
		<div class="content">
			<section class="content-section">
				<label>about me, usage</label>
			</section>
			<section class="content-section">
				<label>a unicorn is born</label>
			</section>
			<section class="content-section">
				<label>portraits from memory - b/w</label>
			</section>
			<section class="content-section">
				<label>portraits from memory - series 1</label>
			</section>
			<section class="content-section">
				<label>portraits from memory - series 2</label>
			</section>
			<div class="vert-info">
				<Social url={"https://www.instagram.com/kathrinayer/"} altText={'instagram account'}>
					<InstagramLogo />
				</Social>

			</div>
		</div>

	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.content {
		display: flex;
		flex-direction: column-reverse;
		flex: 1 0 0;
		justify-content: start;

		.vert-info {
			margin-top: auto;
			order: -1;
			writing-mode: right;
			text-align: end;
		}

		.content-section {
			border-top: 1px solid #888;
			display: flex;

			& label {
				display: inline-block;
				font-size: .8rem;
				letter-spacing: 0.15rem;
				margin: 0.5rem auto;
				text-transform: uppercase;
				user-select: none;
			}
		}
	}

	@media screen and (min-width: 769px) {
			.content {
				border: none;
				border-right: 1px solid #888;
				flex-direction: row;

				.content-section label {
					margin: auto 0.5rem;
					transform: rotate(180deg);
					writing-mode: tb-rl;
				}

				.vert-info {
					order: unset;
					margin: unset;
					margin-left: auto;
					writing-mode: tb-rl;
				}
			}
		}
</style>
