---

const { altText, url } = Astro.props;

---
<div class="visually-hidden">{altText}</div>
<a href={url} target="_blank"><slot/></a>
<style>
  * {
    display: inline-block;
    height: 2rem;
    margin-inline-end: 0.5rem;
    width: 2rem;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    border: 0;
    display: inline-block;
    height: 1;
    margin: -1;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1;
  }
</style>